body {
  margin-top: 50px;
  background-color: #566C94;
  display: table;
  width: 100%; }

.entry {
  padding-top: 15px;
  background: #91A1BE;
  height: 100%;
  display: table-cell;
  float: none;
  margin-left: 0; }

.found {
  background: #91A1BE;
  height: 100%;
  display: table-cell;
  float: none; }
